<section class="wrapper site-min-height">
              <!-- page start-->
              <section class="panel">
                  <div class="panel-body">
                      <div class="adv-table editable-table ">
                          <div class="space15"></div>
                          <table id="editable-sample" class="table table-striped table-hover table-bordered dataTable task-index" aria-describedby="editable-sample_info" style="width: 1051px;">
                              <thead>
                              <tr role="row">
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 177px;" aria-label="Username">Task name</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" style="width: 259px;" aria-label="Full Name: activate to sort column ascending">Task details</th>
                                <tr class="odd">
                                  <%= simple_form_for Task.new, url: add_task_organization_path(@organization), remote: true do |f| %>
                                  <%= hidden_field_tag :organization_id, @organization.id %>
                                  <td class=" sorting_1"><%= f.text_area :title, class: 'form-control small', onkeydown: "if (event.keyCode == 13) { $('#save_org_task').click(); return false; }" %></td>
                                  <td class=""><textarea name="task_detail" class="form-control small", onkeydown= "if (event.keyCode == 13) { $('#save_org_task').click(); return false; }"  ></textarea>
                                  <%= f.submit "Save", style: 'display: none', id: 'save_org_task' %>
                                  </td>
                                  <% end %>
                                </tr>
                              </thead>
                              
                              <tbody role="alert" aria-live="polite" aria-relevant="all" id="tasks-index">
                                <% @organization.tasks.order("task_order").each do |task| %>
                                  <%= render "tasks/task", task: task %>
                                <% end %>
                          </tbody>
                      </table>
                  </div>
              </section>
              <!-- page end-->
          </section>
<script>
$(document).ready(function(){
  $("#editable-sample tbody").sortable({
    update: function( event, ui ) {
        var sorted = $("#editable-sample tbody").sortable( "toArray" );
        $.post( "/organizations/<%= @organization.id %>/update_order",{ 'tasks': sorted});
    }
  });
});
</script>
