.row
  .col-sm-3
    %p
      %b= @organization.name
      %ul
        %li= "#{@organization.persons.count} Users associated"
  .col-sm-3
    %p
      %b Products:
      %ul
        %li= @organization.products
.row
  .col-sm-12
    .col-sm-2 Open Items
    .col-sm-2 By persons involved
    .col-sm-2 By goal
    .col-sm-2
      = link_to "<icon class='fa fa-plus'></i>".html_safe, "#", :class=> 'pull-left add-task', "data-toggle".to_sym => "modal", "data-target".to_sym => "#taskModal"
= render 'shared/task_form'
.row
  =render 'organization_tasks'
